// Neutral colors

$neutral-50: hsl(0 0% 95%);
$neutral-200: hsl(0 0% 77%);
$neutral-300: hsl(0 0% 68%);
$neutral-400: hsl(0 0% 59%);
$neutral-500: hsl(0 0% 50%);
$neutral-600: hsl(0 0% 41%);
$neutral-700: hsl(0 0% 32%);
$neutral-800: hsl(0 0% 23%);
$neutral-950: hsl(0 0% 5%);

