// Neutral colors

$neutral-100: hsl(210 10% 97%);
$neutral-200: hsl(210 10% 79%);
$neutral-300: hsl(210 10% 68%);
$neutral-400: hsl(210 10% 59%);
$neutral-500: hsl(210 10% 49%);
$neutral-600: hsl(210 10% 39%);
$neutral-700: hsl(210 10% 29%);
$neutral-800: hsl(210 12% 19%);
$neutral-900: hsl(210 12% 14%);

// Primary colors
$primary-100: hsl(208, 80%, 90%);
$primary-200: hsl(208, 80%, 86%);
$primary-300: hsl(208, 80%, 77%);
$primary-400: hsl(208, 80%, 68%);
$primary-500: hsl(208, 80%, 59%);
$primary-600: hsl(208, 80%, 50%);
$primary-700: hsl(208, 80%, 41%);
$primary-800: hsl(208, 80%, 32%);
$primary-900: hsl(208, 80%, 23%);

//  Accent colors
$red-100: hsl(0, 80%, 90%);
$red-200: hsl(0, 80%, 86%);
$red-300: hsl(0, 80%, 77%);
$red-400: hsl(0, 80%, 68%);
$red-500: hsl(0, 80%, 59%);
$red-600: hsl(0, 80%, 50%);
$red-700: hsl(0, 80%, 41%);
$red-800: hsl(0, 80%, 32%);
$red-900: hsl(0, 80%, 23%);

$green-0: hsl(131, 80%, 94%);
$green-1: hsl(131, 80%, 90%);
$green-2: hsl(131, 80%, 86%);
$green-3: hsl(131, 80%, 77%);
$green-4: hsl(131, 80%, 68%);
$green-5: hsl(131, 80%, 59%);
$green-6: hsl(131, 80%, 50%);
$green-7: hsl(131, 80%, 41%);
$green-8: hsl(131, 80%, 32%);
$green-9: hsl(131, 80%, 23%);
