// Font sizes

$font-xs: 0.75rem;
$font-s: 0.875rem;
$font-sm: 1rem;
$font-md: 1.125rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;
$font-2xl: 1.875rem;
$font-3xl: 2.25rem;
$font-4xl: 3rem;
$font-5xl: 3.75rem;
$font-6xl: 4.5rem;
