$space-xxs: 4px;
$space-xs: 8px;
$space-sm: 12px;
$space-md: 20px;
$space-lg: 32px;
$space-xl: 48px;
$space-xxl: 64px;

$font-xs: 12px;
$font-s: 14px;
$font-sm: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-xl: 24px;
$font-2xl: 30px;
$font-3xl: 36px;
$font-3xl: 48px;
$font-3xl: 60px;
$font-3xl: 72px;
