@use "@styles/fonts";
@use "@styles/spaces";
@use "@styles/colors";

.section {
  width: 100%;
  border-radius: 4px;
  margin-top: 4em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  box-shadow: 0 4px 4px hsl(0, 0%, 85%);
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 30em;
  gap: spaces.$space-xs;
  padding: spaces.$space-lg;
  border: 1px solid colors.$neutral-200;
  border-radius: 16px;
}

.link {
  color: colors.$primary-800;
  text-decoration: none;

  &:hover {
    color: colors.$primary-900;
  }
}

.error {
  &::after {
    content: "!";
  }

  border: 1px solid colors.$red-800;
  border-radius: 12px;
  padding: spaces.$space-xs;
  color: colors.$red-800;
  background-color: colors.$red-100;
  font-weight: 900;
  font-size: fonts.$font-xs;
}
