@use "@styles/fonts";
@use "@styles/spaces";
@use "@styles/colors";

.button {
  font-size: fonts.$font-xs;
  border-radius: 12px;
  border-style: solid;
  border-color: colors.$neutral-100;
  padding: spaces.$space-xs spaces.$space-md;
  box-shadow: 1px 1px 5px colors.$neutral-200;
  margin: 0;
  cursor: pointer;
  border: none;
  transition: background-color 200ms, font-size 200ms;
  font-weight: 800;
}

.primary {
  color: colors.$neutral-100;
  background-color: colors.$primary-700;
  box-shadow: inset 0 -2px 0 colors.$primary-800, 0 -2px 4px hsl(0, 0%, 90%);

  &:hover {
    background-color: colors.$primary-800;
    box-shadow: none;
  }
}

.secondary {
  color: colors.$neutral-700;
  background-color: colors.$neutral-100;

  &:hover {
    background-color: colors.$neutral-200;
  }
}

.tertiary {
  color: colors.$neutral-600;
  background-color: colors.$neutral-100;

  &:hover {
    color: colors.$neutral-900;
  }
}
