@use "@styles/fonts";
@use "@styles/spaces";
@use "@styles/colors";

.button {
  position: relative;
  font-size: fonts.$font-lg;
  font-weight: 700;
  border-radius: 12px;
  padding: spaces.$space-xs spaces.$space-md;
  margin: 0;
  cursor: pointer;
  border: none;
}

.actionPrimary {
  composes: button;
  color: colors.$neutral-100;
  background-color: colors.$primary-700;

  &:hover {
    background-color: colors.$primary-800;
  }

  &:active {
    background-color: colors.$primary-900;
  }
}

.actionSecondary {
  composes: button;
  color: colors.$primary-700;
  background-color: colors.$neutral-100;
  border: 2px solid colors.$primary-700;

  &:hover {
    border-color: colors.$primary-800;
    color: colors.$primary-800;
  }

  &:active {
    border-color: colors.$primary-800;
    color: colors.$primary-800;

    border-color: colors.$primary-900;
  }
}

.actionTertiary {
  composes: button;
  color: colors.$primary-700;
  background-color: hsla(0, 0%, 0%, 0%);
  text-decoration: underline;

  &:hover {
    color: colors.$primary-800;
  }

  &:active {
    color: colors.$primary-900;
  }

}

.dangerPrimary {
  composes: button;
  color: colors.$neutral-100;
  background-color: colors.$red-700;

  &:hover {
    background-color: colors.$red-800;
  }

  &:active {
    background-color: colors.$red-900;
  }
}

.dangerSecondary {
  composes: button;
  color: colors.$red-700;
  background-color: colors.$neutral-100;
  border: 2px solid colors.$red-700;

  &:hover {
    border-color: colors.$red-800;
    color: colors.$red-800;
  }

  &:active {
    border-color: colors.$red-800;
    color: colors.$red-800;

    border-color: colors.$red-900;
  }
}

.dangerTertiary {
  composes: button;
  color: colors.$red-700;
  background-color: hsla(0, 0%, 0%, 0%);
  text-decoration: underline;

  &:hover {
    color: colors.$red-800;
  }

  &:active {
    color: colors.$red-900;
  }

}
