@use "@styles/fonts";
@use "@styles/spaces";
@use "@styles/colors";

.input {
  border: none;
  background-color: colors.$neutral-100;
  border-top: 1px solid colors.$neutral-200;
  border-bottom: 1px solid colors.$neutral-100;
  box-shadow: inset 0 -2px 6px hsla(0, 0%, 95%);
  font-family: 'Arial Narrow', Arial, sans-serif;
  border-radius: 12px;
  padding: spaces.$space-xs;
  margin: 0;
  margin-bottom: spaces.$space-sm;
}

.inputFullWidth {
  composes: input;
  width: 100%;
}
