@use "@styles/fonts";
@use "@styles/spaces";
@use "@styles/colors";

.input {
  border: none;
  color: colors.$neutral-900;
  background-color: colors.$neutral-100;
  border: 1px solid colors.$neutral-200;
  font-size: fonts.$font-md;
  border-radius: 12px;
  padding: spaces.$space-xs;
  margin: 0;
  margin-bottom: spaces.$space-sm;
}

.inputFullWidth {
  composes: input;
  width: 100%;
}
